In [1]:
import pandas as pd

In [60]:
df = pd.read_csv("drugsComTrain_raw.tsv",sep='\t')
df.shape

(161297, 7)

In [58]:
df.columns

Index(['Unnamed: 0', 'drugName', 'condition', 'review', 'rating', 'date',
       'usefulCount'],
      dtype='object')

In [38]:
counts = df["drugName"].value_counts()

In [39]:
counts = pd.DataFrame(counts)

In [40]:
type(counts)

pandas.core.frame.DataFrame

In [41]:
counts

                                   drugName
Levonorgestrel                         3657
Etonogestrel                           3336
Ethinyl estradiol / norethindrone      2850
Nexplanon                              2156
Ethinyl estradiol / norgestimate       2117
...                                     ...
Ipratropium Inhalation Solution           1
Fansidar                                  1
Vasculera                                 1
Reyataz                                   1
Inspra                                    1

[3436 rows x 1 columns]

In [27]:
counts.to_csv('counts.csv')

In [44]:
df = pd.read_csv('counts.csv')

In [45]:
df.head()

                          Unnamed: 0  drugName
0                     Levonorgestrel      3657
1                       Etonogestrel      3336
2  Ethinyl estradiol / norethindrone      2850
3                          Nexplanon      2156
4   Ethinyl estradiol / norgestimate      2117

In [46]:
df2 = df.rename({'Unnamed: 0': 'Name'}, axis=1)

In [50]:
df2 = df2.head(30)

In [51]:
df2.shape

(30, 2)

In [52]:
df2.columns

Index(['Name', 'drugName'], dtype='object')

In [56]:
targeted = list(df2.Name)

In [63]:
new_df = df.loc[df['drugName'].isin(targeted)]

In [64]:
new_df.shape

(40043, 7)

In [65]:
new_df = new_df[['drugName', 'condition', 'review']]

In [66]:
new_df.shape

(40043, 3)

In [67]:
drug_count = new_df['drugName'].unique()

In [68]:
len(drug_count)

30

In [70]:
new_df.to_csv("Final_df.csv", index=False)