In [25]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp36-cp36m-win_amd64.whl (6.8 MB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\abdul\.conda\envs\tf1x\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Collecting scipy>=0.19.1
  Using cached scipy-1.5.4-cp36-cp36m-win_amd64.whl (31.2 MB)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.0.0-py3-none-any.whl (14 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=8920c0cc045f7996cedfcf3598de499777c14d96fcf4616250288615506480de
  Stored in directory: c:\users\abdul\appdata\local\pip\cache\wheels\23\9d\42\5ec745cbbb17517000a53cecc49d6a865450d1f5cb16dc8a9c
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-0.24.2 scipy-1.5.4 sklearn-0.0 threadpoolctl-3.0.0

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "results.csv"
captions = pd.read_csv(file_path, sep = '|')

In [3]:
captions

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .
...,...,...,...
158910,998845445.jpg,0,A man in shorts and a Hawaiian shirt leans ov...
158911,998845445.jpg,1,"A young man hanging over the side of a boat ,..."
158912,998845445.jpg,2,A man is leaning off of the side of a blue an...
158913,998845445.jpg,3,"A man riding a small boat in a harbor , with ..."
158914,998845445.jpg,4,A man on a moored blue and white boat with hi...

In [4]:
captions.shape

(158915, 3)

In [5]:
captions = captions.dropna()

In [6]:
is_NaN = captions.isnull()

In [7]:
is_NaN.shape

(158914, 3)

In [8]:
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = captions[row_has_NaN]
print(rows_with_NaN)
captions.head()

Empty DataFrame
Columns: [image_name,  comment_number,  comment]
Index: []

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .

In [9]:
captions.shape

(158914, 3)

In [10]:
df = captions

In [11]:
df.columns

Index(['image_name', ' comment_number', ' comment'], dtype='object')

In [12]:
df = df.rename(columns={' comment_number': 'comment_number', ' comment': 'comment'}, inplace = False)

In [13]:
df.columns

Index(['image_name', 'comment_number', 'comment'], dtype='object')

In [16]:
df['new'] = df["image_name"] + '#' + df["comment_number"]
df['period'] = df[['image_name', 'comment_number']].agg('#'.join, axis=1)

In [17]:
df.head()

,image_name,comment_number,comment,new,period
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...,1000092795.jpg# 0,1000092795.jpg# 0
1,1000092795.jpg,1,"Two young , White males are outside near many...",1000092795.jpg# 1,1000092795.jpg# 1
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .,1000092795.jpg# 2,1000092795.jpg# 2
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .,1000092795.jpg# 3,1000092795.jpg# 3
4,1000092795.jpg,4,Two friends enjoy time spent together .,1000092795.jpg# 4,1000092795.jpg# 4

In [18]:
df1 = df[['period', 'comment']]

In [19]:
df1

                   period                                            comment
0       1000092795.jpg# 0   Two young guys with shaggy hair look at their...
1       1000092795.jpg# 1   Two young , White males are outside near many...
2       1000092795.jpg# 2   Two men in green shirts are standing in a yard .
3       1000092795.jpg# 3       A man in a blue shirt standing in a garden .
4       1000092795.jpg# 4            Two friends enjoy time spent together .
...                   ...                                                ...
158910   998845445.jpg# 0   A man in shorts and a Hawaiian shirt leans ov...
158911   998845445.jpg# 1   A young man hanging over the side of a boat ,...
158912   998845445.jpg# 2   A man is leaning off of the side of a blue an...
158913   998845445.jpg# 3   A man riding a small boat in a harbor , with ...
158914   998845445.jpg# 4   A man on a moored blue and white boat with hi...

[158914 rows x 2 columns]

In [34]:
base_filename = 'Values.txt'
with open(base_filename,'w') as outfile:
    df1[['period', 'comment']].to_string(outfile)

In [37]:
with open(base_filename, 'w', encoding = 'utf-8') as f:
    for rec_index, rec in df1.iterrows():
        f.write(rec['period'] + '\n')

In [20]:
numpy_array = df1.to_numpy()
np.savetxt("Flickr30k_tocken.txt", numpy_array, fmt = "%s")

In [21]:
df.columns

Index(['image_name', 'comment_number', 'comment', 'new', 'period'], dtype='object')

In [22]:
image_ids = df['image_name'].unique()

In [23]:
len(image_ids)

31783

In [26]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(image_ids, test_size=0.2)

In [27]:
train

array(['2585970434.jpg', '4895560344.jpg', '2057160636.jpg', ...,
       '2341254813.jpg', '476760133.jpg', '6386728329.jpg'], dtype=object)

In [28]:
len(train)

25426

In [29]:
test

array(['3630102841.jpg', '3793793899.jpg', '408233586.jpg', ...,
       '4467895568.jpg', '756004341.jpg', '463608562.jpg'], dtype=object)

In [30]:
len(test)

6357

In [31]:
train, val = train_test_split(train, test_size=0.1)

In [32]:
len(train)

22883

In [33]:
len(val)

2543

In [46]:
training_images = train[['image_name']]

In [34]:
np.savetxt("Flickr30k_trainimages.txt", train, fmt = "%s")

In [35]:
np.savetxt("Flickr30k_testimages.txt", test, fmt = "%s")

In [36]:
np.savetxt("Flickr30k_valimages.txt", val, fmt = "%s")